//
// Misc Helpers
// --------------------------------------------------

.clearfix {
  &::after {
    @include clearfix;
  }
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

// Text Helpers
// --------------------------------------------------

.text {
  // Colours
  &-primary {
    color: get-colour('primary') !important;
  }
  &-secondary {
    color: get-colour('secondary') !important;
  }
  &-tertiary {
    color: get-colour('tertiary') !important;
  }
  // Transform
  &-capitalised {
    text-transform: capitalize !important;
  }
  &-lowercase {
    text-transform: lowercase !important;
  }
  &-uppercase {
    text-transform: uppercase !important;
  }
  // Align
  &-left {
    text-align: left !important;
  }
  &-center {
    text-align: center !important;
  }
  &-right {
    text-align: right !important;
  }
  // Misc
  &-ellipsis {
    @include ellipsis;
  }
  &-underline {
    text-decoration: underline !important;
  }
}
