//
// Spacing Helpers
// 1. Type: padding (p) or margin (m)
// 2. Position: all, top (t), right (r), bottom (b) or left (l)
// 3. Size: none (n), small (sm), medium (md), large (lg) or extra-large (xl)
// --------------------------------------------------

$spacing-sizes: (
  'n': 0px,
  'sm': $spacing-sm,
  'md': $spacing-md,
  'lg': $spacing-lg,
  'xl': $spacing-xl,
);

@each $key, $size in $spacing-sizes {
  .p-#{$key} {
    padding: $size !important;
  }
  .pt-#{$key} {
    padding-top: $size !important;
  }
  .pr-#{$key} {
    padding-right: $size !important;
  }
  .pb-#{$key} {
    padding-bottom: $size !important;
  }
  .pl-#{$key} {
    padding-left: $size !important;
  }

  .m-#{$key} {
    padding: $size !important;
  }
  .mt-#{$key} {
    padding-top: $size !important;
  }
  .mr-#{$key} {
    padding-right: $size !important;
  }
  .mb-#{$key} {
    padding-bottom: $size !important;
  }
  .ml-#{$key} {
    padding-left: $size !important;
  }
}
