$sidebar-animation: .2s ease;

.sidebar {
  @include overflow-scroll(y);
  @include z-index(sidebar);

  position: fixed;
  top: 0;
  bottom: 0;
  left: -$sidebar-width;
  width: $sidebar-width;
  padding: 10px 0;
  background-color: get-colour('background');
  overflow-x: visible;

  &.open {
    left: 0;
  }

  @include media('screen', '<=small') {
    transition: left $sidebar-animation;
  }

  @include media('screen', '>=medium') {
    margin-top: $appbar-height;
    left: 0;
  }

  a {
    @include font-size-rem(16);
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: get-colour('text');

    &:hover {
      background-color: darken(get-colour('background'), 5%);
    }
    svg {
      position: relative;
      top: -1px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  hr {
    margin: 10px 0;
    background-color: darken(get-colour('background'), 15%);
  }
}
