@mixin button-basic {
  border: 0;
  background: none;
  line-height: 1;
  cursor: pointer;
  vertical-align: middle;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:active {
    outline: none;
    background-image: none;
  }
}

@mixin clearfix {
  display: table;
  clear: both;
  content: '';
}

@mixin ellipsis($width: 100%) {
  // sass-lint:disable no-disallowed-properties
  max-width: $width;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin font-size-rem($pixels) {
  // sass-lint:disable no-disallowed-properties, no-duplicate-properties
  $value: strip-unit($pixels);

  font-size: $value + px;
  font-size: ($value / 16) + rem;
}

@mixin opacity($opacity) {
  $opacity-ie: $opacity * 100;

  opacity: $opacity;
  filter: alpha(opacity=$opacity-ie);
  zoom: 1;
}

@mixin pseudo($display: block, $position: absolute, $content: '') {
  display: $display;
  position: $position;
  content: $content;
}
