//
// Layout
// --------------------------------------------------

$breakpoints: (
  'small': 480px,
  'medium': 768px,
  'large': 1200px
);

$container-padding: 15px;
$grid-columns: 12;

$appbar-height: 50px;

// Spacing
// --------------------------------------------------

$spacing-sm: 5px;
$spacing-md: 10px;
$spacing-lg: 20px;
$spacing-xl: 40px;

// Colours
// --------------------------------------------------

$colours: (
  'primary': #002776,
  'secondary': #009b3a,
  'tertiary': #fedf00,

  'success': #43b02a,
  'info': #00b1ff,
  'warning': #ffa300,
  'danger': #e4002b,

  'text': #3b454e,
  'link': #00b1ff,

  'background': #f5f5f5,
  'border': #c0c0c0,

  'white': #fff,
);

@function get-colour($key) {
  @return map-get($colours, $key);
}

// Fonts
// --------------------------------------------------

$font-size: 16px;
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
